@model IEnumerable<DoctorApp.Models.LeaveViewModel>

@{
    ViewBag.Title = "Leave";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="content">
    <div class="row">
        <div class="col-sm-8 col-6">
            <h4 class="page-title">Leave Request</h4>
        </div>
        <div class="col-sm-4 col-6 text-right m-b-30">
            <a href="../Leave/AddLeave" class="btn btn-primary btn-rounded float-right" style=" width: 114px; height: 32px; padding-top: 7px; font-size: 12px;"><i class="fa fa-plus"></i> Add Leave</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped custom-table mb-0 datatable" id="mytable">
                    <thead>
                        <tr>
                            <th>Employee</th>
                            <th>From</th>
                            <th>To</th>
                            <th>No of Days</th>
                            <th>Reason</th>
                            <th class="text-center">Status</th>
                            <th class="text-right">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <a href="#" class="avatar">@item.EmployeeName</a>
                                    <h2><a href="#">@item.EmployeeName</a></h2>
                                </td>

                                <td>@item.FromDate.ToShortDateString()</td>
                                <td>@item.ToDate.ToShortDateString()</td>
                                <td>@item.Days</td>
                                <td>@item.Reason</td>
                                <td class="text-center">
                                    <div class="dropdown action-label">
                                        <a class="custom-badge status-purple dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false">
                                            New
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            @if (item.Status == "undefined")
                                            {
                                                <a class="dropdown-item custom-badge status-yellow" href="#">Pending</a>
                                                <a class="dropdown-item ustom-badge status-green" href="#">Approved</a>
                                                <a class="dropdown-item custom-badge status-red" href="#">Declined</a>
                                            }
                                            else if (item.Status == "New")
                                            {
                                                <a class="dropdown-item custom-badge status-yellow" href="#">Pending</a>
                                                <a class="dropdown-item ustom-badge status-green" href="#">Approved</a>
                                                <a class="dropdown-item custom-badge status-red" href="#">Declined</a>
                                            }
                                            else if (item.Status == "Approved")
                                            {
                                                <a class="dropdown-item custom-badge status-yellow" href="#">Pending</a>
                                                <a class="dropdown-item ustom-badge status-green" href="#">Approved</a>
                                                <a class="dropdown-item custom-badge status-red" href="#">Declined</a>
                                            }
                                        </div>
                                    </div>
                                </td>
                                <td class="text-right">
                                    <div class="dropdown dropdown-action">
                                        <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" onclick="EditLeave(@item.LeaveID)"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                            <a class="dropdown-item" onclick="Delete(@item.LeaveID)"><i class="fa fa-trash-o m-r-5"></i>Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<script>
    function EditLeave(LeaveID) {

        window.location.href = '/Leave/EditLeave?Id=' + LeaveID;
        return;
    }

    $('Edit').click(function () {
        debugger;
        var LeaveID = $(this).data('id');

        $('#exampleModalLabel').text("Edit Leave");

        $.ajax({
            url: "/Leave/EditLeave",
            dataType: "json",
            type: "POST",
            data: { id: LeaveID },
            success: function (response) {
                debugger;
                if (response) {
                    console.log(response);
                    $('#EmployeeID').val(response.EmployeeID);
                    $('#FromDate').val(response.FromDate);
                    $('#ToDate').val(response.ToDate);
                    $('#Reason').val(response.Reason);
                    $('#Status').val(response.Status);
                }

                else {
                    notifyDanger("Leave data not found");
                }
            },
            error: function (xhr, status, error) {
                console.error("Error:", xhr.responseText);
                notifyDanger("Error occurred while fetching Appointment data");
            }
        });
    });

    function Delete(id) {
        debugger;
        console.log("Deleting ScheduleID with ID:", id);

        $.ajax({
            url: "/Schedule/DeleteSchedule",
            type: "POST",
            dataType: "json",
            contentType: "application/json", // Set the contentType to "application/json" for sending JSON data
            data: JSON.stringify({ id: id }), // Send data as a JSON string
            success: function (response) {
                if (response && response.data === 1) {
                    notifySuccess("Schedule deleted successfully");
                    $('#exampleModal').find('.close').click();
                    Bind(); // Refresh the data
                } else {
                    notifyDanger("Failed to delete Patient");
                }
            },
            error: function (xhr, status, error) {
                console.error("Error:", xhr.responseText);
                notifyDanger("An error occurred while deleting the doctor");
            }
        });
    }

</script>